//Variables
$text1F : 'Open Sans', sans-serif;
$head1F : 'Prata', serif;
$head2F:'Righteous', cursive;
$pointF: 'Noto Sans TC black', sans-serif;

$msize1F : 1.125em;
$msize2F : 1.250em;
$msize3F : 2.250em;
$msizeFF : 0.750em;
$msizeFF2 : 0.950em;
$dsize1F : 1.250em;
$dsize2F : 2.250em;
$dsize3F : 3em;
$dsizeFF : 0.938em;
$white : #ffffff;
$light-gray : #666666;
$dark-gray: #333333;
$about-blue: #3b4371;
$work1-brown: #bd6c4c;

$full-screen-bg-size: cover;
$full-screen-text-color: $white;


$overlay-menu-color: #feda6a;
$overlay-menu-text-color: #ffffff;
$overlay-menu-button-size: 2.25rem;

$mainYellow: darken($overlay-menu-color, 20%);
$mainBlue: rgb(23, 121, 186);

@mixin transformRotate($property) {
    -moz-transform: rotate($property) translate(-1px, 0px);
    -webkit-transform: rotate($property) translate(-1px, 0px);
    -o-transform: rotate($property) translate(-1px, 0px);
    -ms-transform: rotate($property) translate(-1px, 0px);
    transform: rotate($property) translate(-1px, 0px);
  }
  @mixin cursorNone() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
  }

  //lightbox
  $lightbox-bgcolor: Black;

$lightboxNav-bgcolor: #343434;
  //mixin
  @mixin lightboxBtn($right:2em, $top:2em, $space:3em, $btnBkgrd:rgba(0, 0, 0, 0.5)) {
    position: absolute;
    right: $right;
    top: $top;
    height: $space;
    width: $space;
    display: block;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }

  @mixin topBkgrd($topbkgrdImageM,$topbkgrdImageD){
  background: url($topbkgrdImageM) center center no-repeat fixed;
  background-size: cover;
  height: 40vh;
  @media screen and (min-width: 1200px){
    background: url($topbkgrdImageD) center center no-repeat fixed;
  }
}