<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cho Jeongyun Portfolio Site</title>
    <link rel="stylesheet" href="css/foundation.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Prata|Righteous" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
</head>
  <body>
			<h1 class="hide">Cho Jeongyun Portfolio Site</h1>
		
			<header id="mainHeader" data-magellan-target="mainHeader">
				<div data-sticky-container>
					<nav id="mainNav" data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small">
						<h2 class="hide">Main Navigation</h2>
						<ul class="menu align-center" data-magellan data-offset="100">
							<li class="menu-text"><object data="images/mainLogo.svg" type="image/svg+xml" id="mainLogo" ></object></li>
							<li id="name"><a href="#mainHeader">Jeongyun Cho</a></li>
							<li>
								<div id="menuBtn" class="overlay-menu-button">
									<div class="overlay-menu-button-toggle">
										<div class="bar1"></div>
										<div class="bar2"></div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
					<!-- the menu  -->
	

			</header>
			<!--header ends here-->
			<div id="overlay" class="transparent"></div>
			<!-- the trigger -->

			<div class="overlay-menu">
					<div class="overlay"></div>
					<div class="overlay"></div>
					<div class="overlay"></div>
					<div class="overlay-menu-wrapper">
						<ul class="overlay-menu-list menu vertical" data-magellan>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="works.html">Work</a></li>
							<li id="contactNav"><a href="#footer">Contact</a></li>
						</ul>
					</div>
				</div>

		<!--main starts here-->
		<main id="app">
			<!--topSection starts here-->
		
			<div class="full-screen">
					
					<div class="top-content-section">
						<div class="top-bar">
							<div class="top-bar-right">
								<ul class="menu" data-magellan>	
									<li class="hoverLine"><a href="#work1">One</a></li>
									<li class="hoverLine"><a href="#work2">Two</a></li>
									<li class="hoverLine"><a href="#work3">Three</a></li>
									<li class="hoverLine"><a href="#work4">Four</a></li>
								</ul>
							</div>
						</div>
					</div>
				
					<div class="middle-content-section">
					
				<div class="rotate center-vertical">
						<div id="inner" class="inner hideOn">
							<p>Hello.</p>
							<p>I</p>
							<p>Am</p>
							<p>Jeongyun Cho</p>
							<p>And</p>
							<p>I'm</p>
							<p>A</p>
							<p>Designer</p>
							<p>and</p>
							<p>Devloper</p>
							<p>Hello.</p>
						</div>
					</div>	
					

							

						<h1>Welcome To My Website</h1>
						<div id="aboutBtn"><a href="about.html">Want to Know Who I am?</a></div>
					</div>
				
					<div class="bottom-content-section" data-magellan >
						<a href="#main-content-section"><svg id="arrowD" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
					</div>
				
				</div>
				<!--topSection ends here-->
			
				<!--mainSection starts here-->
				<div id="main-content-section" data-magellan-target="main-content-section">
			
						<div id="content-section" class="grid-x grid-padding-x hideOn3 hidden">
								<div id="worksT" class="cell small-7 float-center "><h3>WORKS</h3></div>

								<div id="work1" class="porfworks p1 cell small-12 medium-6" data-magellan-target="work1">
										<img src="http://placehold.it/1200x800/333" alt="Portfolio Work1">
								</div>
									<div id="work2" class="porfworks p1 cell small-12 medium-6" data-magellan-target="work2">
											<img src="http://placehold.it/1200x800/333" alt="Portfolio Work2">
									</div>
									<div id="work3" class="porfworks p2 cell small-12 medium-6" data-magellan-target="work3">
											<img src="http://placehold.it/1200x800/333" alt="Portfolio Work3">
									</div>
									<div id="work4" class="porfworks p2 cell small-12 medium-6" data-magellan-target="work4">
											<img src="http://placehold.it/1200x800/333" alt="Portfolio Work4">
									</div>
							</div>
		
				</div><!--mainSection ends here-->
			</main>


			<!-- footer -->
			<footer class="container hideOn2" id="footer" data-magellan-target="footer">
					<div class="contactForm" :class="{'open': formOpen}" @click="hideCopy()">
						<div class="button-copy" v-show="!formOpen" @click="formOpen = true">Contact Me</div>
						<form @submit="cancel()">
				
							<div class="form--field">
								<label>Name *</label>
								<input type="name" class="form--element" name="name" v-model="contactData.name" placeholder="Your Name" required="">
							</div>

								<div class="form--field">
									<label>Email *</label>
									<input type="email" class="form--element" name="email" v-model="contactData.email" placeholder="Your Email" required="">
								</div>

								<div class="form--field">
									<label>Subject *</label>
									<input type="text" class="form--element" name="title" v-model="contactData.title" placeholder="Title" required="">
								</div>

							<div class="form--field">
								<label>Message</label>
								<textarea class="form--element textarea" name="message" v-model="contactData.description" placeholder="Description">                                
								</textarea>
							</div>
				
							<button type="submit" class="submit-button">Submit</button>
							<div class="cancel"><span @click="cancel()">Cancel</span></div>
						</form>
					</div>
				
				<div class="footer-bottom">
							<div class="cell text-center">
								<p>Copyright &copy; 2018 Jeongyun Cho • London based Freelance Web Designer & Developer</p>
							</div>
					</div>
				</footer>
					<!-- footer ends -->
				
	
				
	

	<script src="js/vendor/jquery.js"></script>
	<script src="js/vendor/what-input.js"></script>
	<script src="js/vendor/foundation.js"></script>
	<script src="js/app.js"></script>
	<script src="js/header.js"></script>
	<script src="js/index.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/indexTween.js"></script>
	</body>
</html>