.widthF:before {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 100%; 
    padding-top: 5vh; 
    border-top: 5px solid $about-blue;
    transition-duration: 1s;
}
.widthF2:before {
    width: 30%; 
}

    #worksTB{
        position: relative;
        text-align: justify;
        padding: 1%;
        margin-bottom: 1%;
        p{
            font-family: $text1F;
            font-size: $msizeFF2;
            @media screen and (min-width: 640px){
                font-size: $msize1F;
            }
            @media screen and (min-width: 1200px){
                font-size: $dsize1F;
            }
        }
    }
    .aboutT{
        p{
         color: $about-blue;
        }
    }

