

 .work1F{
    background: darken($work1-brown, 20%);
    }
 .work2F{
    background: darken(#ab9d9d, 20%);
 }
 .work3F{
    background: darken( #b01f24, 20%);
 }
 .work4F{
    background: darken( black, 20%);
 }

  