#mainHeader{
    height: 4rem;
}
#mainLogo{
    position: fixed;
    top: .5rem;
    left: 1.25rem;
    width:2.5rem;
    @media screen and (min-width: 1200px){
        width: $dsize3F;
    }
}
.rotateLeft{
    -moz-transform: rotate(90deg) translate(-1px, 0px);
-webkit-transform: rotate(90deg) translate(-1px, 0px);
-o-transform: rotate(90deg) translate(-1px, 0px);
-ms-transform: rotate(90deg) translate(-1px, 0px);
transform: rotate(90deg) translate(-1px, 0px);
transition-duration: .8s;
}
#name{
    position: fixed;
    top: .3rem;
    font-family: $pointF;
    text-align: center;
    cursor: default;
    
    a{
      
  
        &:hover{
            color: $mainYellow;
            transition-duration: .8s;
            cursor: pointer;
    }
    }
   
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  
    @media screen and (min-width: 1200px){
        font-size: 2.5em;
        top: 0rem;
       //TODO:letterSpacing
    }
}
.colorChangeYellow{
    color: $white;
    transition-duration: .8s;
    @media screen and (min-width: 1200px){
        letter-spacing: 2rem;
    }
   
}





