#mainHeader{
    height: 4rem;
}

       

#mainLogo{
    position: fixed;
    top: .7rem;
    left: 1.25rem;
    width:2.5rem;
    
   
    @media screen and (min-width: 1200px){
        width: $dsize3F;
        top: 1rem;
    }
  
}

.rotateLeft{
    @include transformRotate(90deg);
transition-duration: .8s;
}
#nameT{
    position: fixed;
    top: .3rem;
    font-family: $pointF;
    font-weight: bold;

    text-align: center;
    cursor: default;
    font-size: 1.75em;
    
    a{
      
        &:hover{
            color: $mainYellow;
            transition-duration: .8s;
            cursor: pointer;
    }
    } 
  
    @include cursorNone();
  
    @media screen and (min-width: 1200px){
        font-size: 2.75em;
        top: 0rem;
       //TODO:letterSpacing
    }
}
.colorChangeYellow{
    color: $white;
    transition-duration: .8s;
    @media screen and (min-width: 1200px){
        letter-spacing: 2rem;
    }
   
}





